{{#with comment}}
    <div class="card comment">
        <h2>{{name}}</h2>
        <p>{{date}}</p>
        <p>{{content}}</p>
        {{#unless ../reply}}
            {{#if ../user}}
                {{> likeDislike user=../user type="comment" _id=_id }}
                <button class="reply" data-id="{{_id}}"><span class="material-symbols-outlined">plus</span>Reply</button>
            {{/if}}
        {{/unless}}
        {{#if replies}}
            <div class="replies">
                {{#each replies}}
                    {{> commentCard comment=this reply=false user=../user}}
                {{/each}}
            </div>
        {{/if}}
    </div>
{{/with}}