<header>
    <a href="/">
        <img class="light" src="/public/assets/logo-light.svg" alt="a11y logo">
        <img class="dark" src="/public/assets/logo-dark.svg" alt="a11y logo">
    </a>
    <div class="right-buttons">
        <a href="/about" class="button-link">
            <span class="material-symbols-outlined" aria-hidden="true">info</span>
            <div>About</div>
        </a>
        {{#if user}}
            <a href="/user/{{user._id}}" class="button-link">
                <span class="material-symbols-outlined" aria-hidden="true">account_circle</span>
                <div>Account</div>
            </a>
            <a href="/logout" class="button-link">
                <span class="material-symbols-outlined" aria-hidden="true">logout</span>
                <div>Log Out</div>
            </a>
        {{else}}
            <a href="/login" class="button-link"><span class="material-symbols-outlined" aria-hidden="true">login</span>
                <div>Log In</div>
            </a>
            <a href="/register" class="button-link"><span class="material-symbols-outlined">person_add</span>
                <div>Register</div>
            </a>
        {{/if}}
    </div>
</header>