<header>
    <a href="/">
        <img src="/public/assets/logo-light.svg" alt="a11y logo">
        <img src="/public/assets/logo-dark.svg" alt="a11y logo">
    </a>
    <div>
        <button id="light-dark-toggle">
            <span class="material-symbols-outlined"></span>
        </button>
        {{#if user}}
            <a href="/user?id={{user._id}}" >
            <span class="material-symbols-outlined" aria-label="Account">account_circle</span>
            </a>
        {{else}}
            <a href="/login" class="button-link">Log In</a>
            <a href="/register" class="button-link">Register</a>
        {{/if}}
    </div>
</header>