{{#if errors}}
    <ul class="error">
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{else}}
    <p>{{message}}</p>
    {{#each results}}
        {{> placeCard place=this user=user }}
    {{/each}}
{{/if}}