<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>{{title}} - a11y?</title>
    <!--External resources-->
    <!--Inter font-->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <!--Google Symbol Library-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <!--Our resources-->
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="/public/js/client-helpers.js" defer></script>
    <script src="/public/js/button-ajax.js" defer></script>
    <script src="/public/js/login-register-check.js" defer></script>
    <script src="/public/js/search-page.js" defer></script>
</head>
<body>
{{{body}}}
</body>
</html>