{{> navbar }}

<main>
    <h1>About us</h1>
    <p>Welcome to a11y, a website created by AJ Webster, Amanda Merino, Chris Kang, Liam Rust and Sam Miller
        for our CS 546 final project. This website is dedicated to helping people find accessible places. In this website
        we made it so that you can look at a place and find out which place, which people believe, is the most accessible
        and it will rate the places based on people's reviews.
    </p>
    <h2>Things to do:</h2>
    <ul>
        <li>Look up places</li>
        <li>Make reviews for each place</li>
        <li>Make comments for those reviews</li>
        <li>Make comments for the places</li>
        <li>Look at your user profile</li>
        <li>Like and Dislike places</li>
        <li>Like and Dislike reviews</li>
    </ul>
</main>