{{> navbar }}

<main>
    <h1>About us</h1>
    <p>Welcome to a11y, a website created by AJ Webster, Amanda Merino, Chris Kang, Liam Rust and Sam Miller.
        This website is dedicated to helping people find accessible places.
    </p>
    <h2>Things to do:</h2>
    <ul>
        <li>Look up places</li>
        <li>Make reviews for each place</li>
        <li>Add new places to the database</li>
    </ul>
</main>