<div class="changePassword">
    <form name="password" id="password" action="/register" method="POST">
        <label for="newPassword">New Password:
            <input type="password" name="password" id="password"/>
        </label>

        <br/>
        <label for="confirmPassword">Confirm Password:
            <input type="password" name="confirmPassword" id="confirmPassword"/>
        </label>
        <br/>
        <button name="submitButton" id="submitButton" type="submit">Submit</button>
    </form>
    <div id="error" class="error" hidden>Error</div>
</div>