{{> navbar }}

<main>
    <h1>Error!</h1>
    {{#if error}}
        <p>We're sorry, but an error occurred.</p>
        <p class=error>{{error}}</p>
    {{/if}}
    {{#if errors}}
        <p>We're sorry, but some errors occurred.</p>
        <ul class="error error-list">
            {{#each errors}}
                <li>{{this.message}}</li>
            {{/each}}
        </ul>
    {{/if}}
    <p><a href="javascript:history.back()">Back</a></p>
</main>