{{> navbar }}

<main>
    <h1>Establishments near you</h1>
    <form action="/" id="search">
        <input type="text" name="search-query" placeholder="Search establishments..." aria-label="Search">
        <button type="submit">Search</button>
    </form>

    <div id="results">
        {{> searchResults }}
    </div>
</main>