{{> navbar }}

<h1>Establishments near you</h1>
<form action="/" id="search">
    <input type="text" name="search-query" placeholder="Search establishments..." aria-label="Search">
    <button type="submit">Search</button>
</form>

<div id="home-feed">
    {{#each establishments}}
        {{!TODO add establishment component}}
        <p>{{this.name}}</p>
    {{/each}}
</div>