<form name="signup-form" id="signup-form" action="/register" method="POST">
  <label for="firstName">First Name:
    <input type="text" name="firstName" id="firstName" />
  </label>

  <br />
  <label for="lastName">Last Name:
    <input type="text" name="lastName" id="lastName" />
  </label>

  <br />
  <label for="username">Username:
    <input type="text" name="username" id="username" />
  </label>

  <br />
  <label for="password">Password:
    <input type="password" name="password" id="password" />
  </label>

  <br />
  <label for="confirmPassword">Confirm Password:
    <input type="password" name="confirmPassword" id="confirmPassword" />
  </label>

  <br />
  <div>
    <label for="neededAccessibility">Accessibility:
      <input
        type="checkbox"
        name="neededAccessibility"
        id="neededAccessibility"
      />
    </label>
  </div>

  <fieldset>
    <legend>Choose your catergory:</legend>

    <div>
      <input type="checkbox" id="Physical" name="Physical" checked />
      <label for="Physical">Physical</label>
    </div>

    <div>
      <input type="checkbox" id="Sensory" name="Sensory" />
      <label for="Sensory">Sensory</label>
    </div>

    <div>
      <input type="checkbox" id="Neurodivergency" name="Neurodivergency" />
      <label for="Neurodivergency">Neurodivergency</label>
    </div>
  </fieldset>

  <br />
  <button name="submitButton" id="submitButton" type="submit">Submit</button>
</form>
<div id="error" class="error" hidden>Error</div>
<p>Already have an account? <a href="/login">Click here to log-in</a></p>