{{> navbar }}

<main>
    {{#with user}}
        <h1>{{username}}</h1>

        <h2>Bio</h2>
        <p>{{bio}}</p>
        <section>
            <h3>Qualifications:</h3>
            {{#each qualifications}}
                <p>{{qualification}}</p>
            {{/each}}
        </section>

        <section>
            <h4>Reviews:</h4>
            {{#each reviews}}
                <p>{{review}}</p>
            {{/each}}
        </section>
    {{/with}}
</main>