/* Inter font support */
:root, input, button {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1, 'ss02' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.light {
    display: inherit;
}

.dark {
    display: none;
}

:root {
    --bg: #f0f0f0;
    --fg: #121212;
    --accent-bg: #A51D2D;
    --accent-fg: #ffffff;
}

@media (prefers-color-scheme: dark) {
    .light {
        display: none;
    }

    .dark {
        display: inherit;
    }

    :root {
        --bg: #121212;
        --fg: #f0f0f0;
        --accent-bg: #E9818D;
        --accent-fg: #000000;
    }
}

body {
    color: var(--fg);
    background-color: var(--bg);
}

a {
    color: var(--accent-bg);
}

button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-bg);
    color: var(--accent-fg);
}

.login-register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.empty-section {
    font-style: italic;
}

.card {
    filter: drop-shadow(0 8px #202020);
    border-radius: 12px;
}

.highlight {
    font-weight: bold;
}

main {
    max-width: 1300px;
    width: 75%;
}